@media (max-width: 480px) {
     
.cart-page-bottom {
  z-index: 1;
  background-position: -22px 80px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 352px;
  background-color: #f0f0f0;
  align-content: flex-end;
  /* flex-wrap: wrap; */
  flex-direction: column;
  }
  
.cart-page-inside {
    display: none;
    transform: rotateY(-180deg);
    border-right: none !important;
    background-position: 0px 80px;
  
  }

  .card:before {
    left: -50%;
}

 .cart-page-outside {
    left: -74px !important;
}
  .cart-page-bottom {
    z-index: 1 !important; 
    background-position: -22px 80px !important;
}
  
  }